# SubConjunto de varaibles para clasificacion

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('datos_limpia_codifcada.csv')

In [8]:
df2=df[["PORCENTAJE\n%", "GRADO O CURSO\n2023 2024"
                      , "TIPOD_AUDITIVA",	"TIPOD_FISICA",	"TIPOD_INTELECTUAL",	"TIPOD_NINGUNA",
"TIPOD_PSICOSOCIAL",	"TIPOD_VISUAL"]]
df2

,PORCENTAJE\n%,GRADO O CURSO\n2023 2024,TIPOD_AUDITIVA,TIPOD_FISICA,TIPOD_INTELECTUAL,TIPOD_NINGUNA,TIPOD_PSICOSOCIAL,TIPOD_VISUAL
0,0.36,0,0,0,1,0,0,0
1,0.36,0,0,0,1,0,0,0
2,0.00,0,0,0,0,1,0,0
3,0.36,1,0,0,1,0,0,0
4,0.85,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
181,0.35,10,0,0,1,0,0,0
182,0.45,13,0,0,1,0,0,0
183,0.58,2,0,0,0,0,0,1
184,0.30,11,0,1,0,0,0,0
185,0.46,2,0,1,0,0,0,0

In [ ]:
cov_matrix = df2.corr()
# Crear el mapa de calor
plt.figure(figsize=(15, 12))
sns.heatmap(cov_matrix, annot=True, fmt='.2f', cmap='coolwarm', cbar=True)
plt.title('Matriz de Correlacion')
plt.show(block=True)